*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: white;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: white;
}

header{
    display: flex;
    flex-direction: row;     
    max-width: 1000px;
    margin: auto;
    padding: 15px;
}

main{     
    max-width: 1000px;
    margin: auto;
}

footer{     
    max-width: 1000px;
    margin: auto;
    border-top: 1px solid rgba(128, 128, 128, 0.356);
    background-color: rgb(221, 221, 221);
}

h1{
    font-size: 2em;
}

section{ 
    display: flex;
    flex-direction: column;
    
}

article{
    display: flex;
    flex-direction: row;    
}

/* CONTAINER HEADER */

#logo{
    line-height: 20px;
    color: blue;
}

#subtitulo{
    color: black;
    font-size: 1em;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
}

nav > a{
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s;    
    color: blue;
}

nav > a:hover{
    border: 1px solid blue;
    border-radius: 16px;
}

/* CONTAINER MAIN */

#banner{
    background-image: url("../imagens/calculator-385506_1920.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    height: 400px;    
}


#sobre{
    width: 100%;
    background-color: rgb(221, 221, 221);
    height: 400px;
}

#texto-sobre{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    padding: 35px;
}

#texto-sobre > h2{
    color: blue;
    font-size: 2em;
}

#texto-sobre > p{
    color: black;
    font-size: 12pt;
}

#servico{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    background-image: url("../imagens/office-2717014_1920.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 15px;
    height: 400px;
}

#nossos-servicos > h2 {    
    color: white;
    text-shadow: 0px 0px 5px black;
}

.caixa-servico{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: rgb(221, 221, 221);
    border: 3px solid gray;
    padding: 15px;
}

.caixa-servico a{
    margin: 0 auto;
}

.caixa-servico h2{
    font-size: 1.5em;
    color: blue;
}

.caixa-servico p{
    font-size: 1em;
}

.icons{
    width:  30px;
    height: 30px;
}

#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 25px;
    background-color: rgb(221, 221, 221);
}

#contato > h2{
    color: black;
    border-bottom: 1px solid gray;
    font-size: 1.5em;
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding: 15px;
}

form > label{
    color: blue;
    font-size: 1em;
    font-weight: bold;
}

form > input{
    padding: 10px;
    color: black;
    font-size: 10pt;
    border: 2px solid gray;
    border-radius: 5px;
    outline: none;
}

form > input:focus{
    border: 2px solid blue;
}

form > textarea{
    padding: 10px;
    margin-bottom: 15px;
    color: black;
    font-size: 10pt;
    border: 2px solid gray;
    border-radius: 5px;
    outline: none;
}

form > textarea:focus{
    border: 2px solid blue;
}

form > button{
    padding: 10px;
    border: 0px;    
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: all 0.5s;
}

form > button:hover{
    font-size: 1.1em;
    border-radius: 16px;
}

/* CONTAINER FOOTER */

#rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

#menu-rodape{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

#social-rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 15px;
}

#social-rodape > a{
    padding: 10px;
}

#assinatura-rodape > p {
    width: 100%;
    padding: 15px;
    font-size: 8pt;
    color:black;
}

#assinatura-rodape > p > a{
    text-decoration: none;    
}

@media screen and (max-width: 780px){
    article{
        flex-direction: column;
    }

    #sobre {
        height: 100%;
    }

    #servico{
        height: 100%;
    }

    #contato{
        height: 100%;
    }

    form{
        width: 100%;
    }

    #rodape{
        flex-direction: column;
    }
}